/** Home slider **/
.home-slider
    position: relative
.home-slider__text
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    @media (max-width: 576px)
        position: relative
    & .home-slider__content
        height: 100%
        display: flex
        flex-direction: column
        justify-content: center
        position: absolute
        max-width: 440px
        margin-left: 12%
        margin-top: 65px
        @media (max-width: 1366px)
            max-width: 300px
            margin-top: 30px
        @media (max-width: 1200px)
            margin-left: 40px
            max-width: 200px
        @media (max-width: 768px)
            margin-left: 20px
        @media (max-width: 576px)
            position: relative
            max-width: 100%
            margin: auto
            margin: 26px 15px
    & .home-slider__title
        font-size: 36px
        font-family: Montserrat-SemiBold
        line-height: 44px
        width: 100%
        @media (max-width: 1366px)
            font-size: 26px
            line-height: 32px
        @media (max-width: 1200px)
            font-size: 19px
            line-height: 23px
    & .home_slider__btn
        width: max-content
        padding: 0 24px
        height: 64px
        background: #fff
        font-size: 14px
        line-height: 17px
        color: #5B6A8F
        margin-top: 86px
        font-family: Montserrat-Bold
        opacity: 0.8
        transition: opacity .4s
        text-align: center
        line-height: 64px
        &:hover
            opacity: 1
        @media (max-width: 1366px)
            margin-top: 30px
        @media (max-width: 576px)
            width: 100%
            background: #BACCFA
            margin-top: 26px
    & .slick-list
        height: 100%
    & .slick-track
        height: 100%
    & .slick-slide
        height: 100%
.home-slider__image
    height: calc(100vh - 97px)
    transition: all .4s
    @media (max-width: 1366px)
        height: calc(100vh - 69px)
    @media (max-width: 768px)
        height: calc(100vh - 50px)
    @media (max-width: 576px)
        height: calc(var(--vh, 1vh) * 100 - 230px)
        min-height: 330px
    & .home-slider__item
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: center
        height: 100%
    &.slick-dotted.slick-slider
        margin: 0 !important
    & .slick-list
        height: 100%
    & .slick-track
        height: 100%
    & .slick-slide
        height: 100%
        & img
            height: 100%
            width: 100%
            object-fit: cover
    & .slick-dots
        bottom: 60px
        right: 60px
        text-align: right
        z-index: 2
        @media (max-width: 1366px)
            right: 40px
            bottom: 40px
        @media (max-width: 1200px)
            display: none !important
        & li
            width: 10px
            margin: 0
            margin-left: 23px
            & button
                &::before
                    font-size: 10px
                    border: 1px solid black
                    border-radius: 50%
                    opacity: 1
                    color: transparent
                    width: 10px
                    height: 10px
                    transition: background .4s
        & li.slick-active button
            &::before
                opacity: 1
                background: black
    & .slick-prev, .slick-next
        height: initial
        width: initial
        @media (max-width: 1200px)
            top: initial
        @media (max-width: 576px)
            bottom: 0
    & .slick-prev
        left: 60px
        z-index: 1
        &::before
            content: url(../img/svg/arrow-left-banner.svg)
        @media (max-width: 1366px)
            left: 40px
        @media (max-width: 1200px)
            left: initial
            right: 80px
            bottom: 20px
            &::before
                content: url(../img/svg/l.svg)
        @media (max-width: 768px)
            right: 50px
    & .slick-next
        right: 60px
        z-index: 1
        &::before
            content: url(../img/svg/arrow-right-banner.svg)
        @media (max-width: 1366px)
            right: 40px
        @media (max-width: 1200px)
            bottom: 20px
            20px
            &::before
                content: url(../img/svg/r.svg)
        @media (max-width: 768px)
            right: 15px
.slider__nav
    position: absolute
    bottom: 60px
    left: 60px
    & .slides-num
        font-size: calc(24px + 12 * ((100vw - 320px)/ 1600))
        font-weight: 600
        & .num__all
            font-size: 18px
    @media (max-width: 1366px)
        left: 40px
        bottom: 40px
    @media (max-width: 1200px)
        bottom: 20px
    @media (max-width: 768px)
        left: 15px
    @media (max-width: 576px)
        display: none
/** Section offers **/
section
    padding: 20px 60px
    @media (max-width: 1366px)
        padding: 20px 40px
    @media (max-width: 768px)
        padding: 10px 15px
.section__title
    font-size: calc(20px + 4 * ((100vw - 320px)/ 1600))
    font-weight: 400
section.offers
    padding: 115px 60px
    @media (max-width: 1366px)
        padding: 115px 40px
    @media (max-width: 992px)
        padding: 54px 40px
    @media (max-width: 768px)
        padding: 54px 20px
    @media (max-width: 660px)
        padding-right: 0
        padding-left: 0
.offers__title
    font-size: calc(20px + 4 * ((100vw - 320px)/ 1600))
    text-align: center
    @media (max-width: 660px)
        padding-right: 15px
        padding-left: 15px
.offers__description
    text-align: center
    max-width: 540px
    margin: auto
    margin-top: 53px
    font-size: 14px
    line-height: 27px
    @media (max-width: 660px)
        padding-right: 15px
        padding-left: 15px
    @media (max-width: 576px)
        margin-top: 40px
.offers__product
    padding-top: 236px
    width: 100%
    display: flex
    @media (max-width: 992px)
        padding-top: 135px
    @media (max-width: 660px)
        overflow-x: scroll
        &::before
            content: "."
            color: transparent
            min-width: 15px
        &::after
            content: "."
            color: transparent
            min-width: 15px
    @media (max-width: 576px)
        padding-top: 120px
.offers__item
    position: relative
    display: flex
    flex-direction: column
    justify-content: flex-end
    height: 100%
    align-items: center
    width: 25%
    height: 267px
    transition: background .4s
    @media (max-width: 1366px)
        height: 190px
    @media (max-width: 992px)
        height: 211px
    @media (max-width: 660px)
        min-width: 300px
    @media (max-width: 576px)
        min-width: 184px
        height: 238px
    &:nth-child(1)
        background: #FCF2F2
        & .offers__item__img
            &::after
                left: 0
                @media (max-width: 1366px)
                    left: -35px
        &:hover
            background: #FFE9E9
    &:nth-child(2)
        background: #F2FCF7
        &:hover
            background: #E3FFF0
    &:nth-child(3)
        background: #F4F7FF
        &:hover
            background: #EBF0FF
    &:nth-child(4)
        background: #FFFBE7
        &:hover
            background: #FFF8D1
    & .offers__item__img
        position: absolute
        top: -130px
        transition: transform .4s
        will-change: transform
        &::after
            position: absolute
            content: url(../img/shadow.png)
            left: -25px
            bottom: -55px
            opacity: 0
            transition: opacity .6s
        @media (max-width: 1366px)
            top: -80px
            height: 153px
            &::after
                left: -45px
            & img
                max-height: 100%
        @media (max-width: 992px)
            &::after
                display: none
    & .offers__item__content
        margin-bottom: 64px
        transition: height .4s linear
        & p
            font-family: Montserrat-Bold
            font-size: 18px
            color: #141414
            text-align: center
            transition: transform .4s, opacity .4s
            will-change: transform
            pointer-events: none
            @media (max-width: 1366px)
                font-size: 16px
            @media (max-width: 992px)
                font-size: 14px
        @media (max-width: 1366px)
            margin-bottom: 50px
        @media (max-width: 992px)
            margin-bottom: 100px
    & .offer__btn
        position: absolute
        border: 1px solid #000
        display: block
        text-align: center
        padding: 23px 53px
        min-width: 180px
        font-family: Montserrat-Bold
        transform: translateY(80px)
        transition: transform .4s, opacity .4s
        will-change: transform
        left: 0
        text-align: center
        margin: auto
        right: 0
        width: 200px
        bottom: 64px
        opacity: 0
        pointer-events: none
        @media (max-width: 992px)
            font-size: 14px
            width: 135px
            min-width: 135px
            bottom: 110px
            padding: 14px 24px
            opacity: 1
            pointer-events: auto
    @media (min-width: 992px)
        &:hover
            & .offers__item__img
                transform: translateY(-50px)
                &::after
                    opacity: 1
            & .offers__item__content
                height: auto
                & p
                    transform: translateY(-100px)
                    opacity: 0
            & .offer__btn
                transform: translateY(0px)
                opacity: 1
                pointer-events: initial
/** Section product **/
.section__title
    @media (max-width: 576px)
        font-size: 16px
        width: 50%
.section__top__line
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 50px
    @media (max-width: 576px)
        padding-bottom: 33px
.slider__arrow
    display: flex
    & .previous_arrow
        margin-right: 10px
.product__list
    display: flex
    justify-content: space-between
    margin: 0 -60px
    @media (max-width: 1400px)
        margin: 0 -15px
.product__item
    padding: 15px 0px
    position: relative
    width: 200px
    margin: 0 60px
    @media (max-width: 1400px)
        margin: 0 15px
    &:hover
        & .photo-product-wrapper
            &::before
                opacity: 1
        & .info-product-wrapper
            transform: translate(0, -70px)
        & .info-product-more
            opacity: 1
    @media (max-width: 992px)
        &:hover
            & .photo-product-wrapper
                &::before
                    display: none
            & .info-product-wrapper
                transform: none
.product__label
    position: absolute
    z-index: 2
    transform: rotate(-90deg)
    width: 43px
    height: 22px
    &::before
        content: attr(data-label)
        display: block
        text-align: center
        width: 43px
        padding: 4px
        color: #fff
        font-weight: 700
        font-size: 12px
    &.label__new
        &::before
            background: #13AC35
            text-transform: uppercase
    &.label__top
        &::before
            background: #0079FF
            text-transform: uppercase
    &.label__sale
        &::before
            background: #EB0E0E
            text-transform: uppercase
    &.label__discontinued
        transform: rotate(0)
        width: 100%
        top: 0
        bottom: 0
        height: 50%
        background: rgba(255, 255, 255,0.6)
        &::before
            background: #000
            width: 146px
            margin: auto
            margin-top: 90px
            padding: 13px
            @media (max-width: 660px)
                width: 120px
        & + .photo-product-wrapper
            filter: none
            filter: grayscale(1)
            &::before
                display: none
            & + .info-product-wrapper
                transform: none
                & .product__title
                    opacity: 0.5
                & .category__title
                    opacity: 0.5
                & .info-product-more
                    opacity: 0
                    display: none
                & + .product__price_container
                    & .product__cost
                        color: #989898
    &.label__unavailable
        transform: rotate(0)
        width: 100%
        top: 0
        bottom: 0
        height: 50%
        background: rgba(255, 255, 255,0.6)
        &::before
            background: #0057B8
            width: 146px
            margin: auto
            margin-top: 90px
            padding: 13px
            @media (max-width: 660px)
                width: 120px
        & + .photo-product-wrapper
            filter: none
            filter: grayscale(1)
            &::before
                display: none
            & + .info-product-wrapper
                transform: none
                & .info-product-more
                    opacity: 0
                    display: none
.photo-product-wrapper
    position: relative
    text-align: center
    &::before
        position: absolute
        width: 100%
        height: 100%
        z-index: 1
        content: ""
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 90%)
        left: 0
        right: 0
        opacity: 0
        transition: opacity .4s
.info-product-wrapper
    position: relative
    z-index: 1
    text-align: center
    margin-top: 43px
    max-height: 70px
    min-height: 77px
    transition: transform .4s
    will-change: transform
.info-product-more
    margin-top: 19px
    opacity: 0
    transition: .4s
    @media (max-width:992px)
        display: none
.product__title
    display: block
    font-family: Montserrat-Medium
    font-size: 14px
.category__title
    display: block
    margin-top: 3px
    color: #989898
    font-size: 14px
.product__more-info
    width: 100%
    display: block
    padding: 16px 0
    border: 1px solid #D3D3D3
    font-size: 14px
    margin-bottom: 10px
    @media (max-width: 1600px)
        font-size: 12px
.product__price_container
    position: relative
    z-index: 4
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 55px
    @media (max-width: 768px)
        margin-top: 25px
.product__cost
    display: flex
    align-items: center
.product__cost__sale
    font-family: Montserrat-SemiBold
    font-size: 16px
    color: #EE0E00
.product__cost__price
    line-height: 17px
    text-decoration-line: line-through
    color: #808080
    font-size: 14px
    @media (max-width:576px)
        font-size: 12px
        margin-left: 5px
.product__buy
    @media (max-width:576px)
        & svg
            width: 20px
            height: 18px
.product__call
    @media (max-width:576px)
        & svg
            width: 20px
            height: 18px
.slider__arrow div
    width: 40px
    height: 40px
    line-height: 40px
    border: 1px solid #DFDFDF
    text-align: center
    transition: background .4s, border-color .4s
    cursor: pointer
    & path
        transition: all .4s
    &:hover
        background: #ff671f
        border-color: #ff671f
        & path
            stroke: #ffffff
    @media (max-width: 768px)
        width: 30px
        height: 30px
        line-height: 30px
/** Banner home **/
.banner-home
    width: 100%
    height: 100%
    padding: 126px 0 20px
    @media (max-width: 1366px)
        padding: 90px 0 20px
    @media (max-width: 992px)
        padding: 50px 0 20px
    @media (max-width: 481px)
        padding: 20px 0 20px
.banner-home__inner
    width: 100%
    position: relative
    height: 596px
    background-image: url(../img/banner-section.jpg)
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    @media (max-width: 1366px)
        height: 422px
    @media (max-width: 768px)
        height: 256px
    @media (max-width: 576px)
        height: 180px
.banner-home__coffe
    position: absolute
    right: 0
    top: -90px
    @media (max-width: 1366px)
        width: 190px
        top: -65px
    @media (max-width: 992px)
        top: -30px
    @media (max-width: 768px)
        width: 15%
    @media (max-width: 481px)
        top: 0
.banner-home__leaf
    position: absolute
    left: 0
    bottom: -130px
    @media (max-width: 992px)
        bottom: -40px
        width: 200px
        left: -25px
    @media (max-width: 768px)
        width: 20%
    @media (max-width: 481px)
        bottom: 0
/** Section about us **/
.about-us
    padding-top: 190px
    @media (max-width: 1366px)
        padding-top: 120px
    @media (max-width: 992px)
        padding-top: 70px
    @media (max-width: 481px)
        padding-top: 10px
.about-us__line
    position: relative
    display: flex
    justify-content: flex-end
    @media (max-width: 992px)
        flex-direction: column
.about-us__title
    width: 665px
    height: 191px
    position: absolute
    left: 172px
    top: -82px
    z-index: -1
    @media (max-width: 1366px)
        left: 60px
    @media (max-width: 992px)
        top: -50px
        width: auto
        max-width: 665px
.about-us__first-description
    max-width: 621px
    margin-right: 82px
    font-size: 14px
    line-height: 27px
    @media (max-width: 992px)
        max-width: 100%
    @media (max-width: 460px)
        margin-right: 0
.about-us__second-description
    max-width: 349px
    margin-right: 200px
    font-size: 14px
    line-height: 27px
    @media (max-width: 1366px)
        margin-right: 0
    @media (max-width: 992px)
        margin: auto
        margin-right: 0
        margin-top: 30px
    @media (max-width: 460px)
        margin: 0
        margin-top: 30px
.about-us__more-btn
    font-family: Montserrat-Bold
    margin-top: 100px
    & a
        display: flex
        align-items: center
    & span
        margin-left: -26px
    & .about-us__arrow
        margin-left: 11px
    @media (max-width: 992px)
        position: absolute
    @media (max-width: 461px)
        margin-top: 115px
    @media (max-width: 332px)
        margin-top: 140px
/** Section advantages **/
section.advantages
    padding-top: 170px
    @media (max-width: 768px)
        padding-right: 0
        padding-left: 0
        padding-top: 125px
.advantages__inner
    height: 100%
    width: 100%
    display: flex
    justify-content: space-between
    @media (max-width: 768px)
        overflow-x: scroll
        &::before
            content: "."
            color: transparent
            min-width: 15px
        &::after
            content: "."
            color: transparent
            min-width: 15px
.advantages__item
    position: relative
    & img
        height: calc(100% - 4px)
        object-fit: cover
    @media (max-width: 1200px)
        width: 100%
        min-height: 438px
        & img
            width: 100%
            height: auto
        &:nth-child(1)
            & img
                height: 99%
        &:nth-child(3)
            & img
                height: 50%
    @media (max-width: 768px)
        min-height: 200px
        width: initial
        &:nth-child(1)
            display: none
        &:nth-child(2)
            display: flex
        &:nth-child(3)
            & img
                display: none
            & .advantages__item__abs__block
                position: static
        & .advantages__item__block
            width: 246px
            border: 1px solid #dfdfdf
            height: initial
            min-height: inherit
            border-right: 0
        & .advantages__item__abs__block
            width: 246px
            border: 1px solid #dfdfdf
            height: initial
            min-height: inherit
.advantages__item__block
    width: 450px
    min-height: calc(50% - 2px)
    height: calc(50% - 2px)
    background: #fff
    display: flex
    flex-direction: column
    justify-content: center
    padding-left: 92px
    transition: background .4s, border-color .4s
    &:hover
        background: #ff671f
        border-color: #ff671f !important
        color: #fff
        & .advantages__block__subtitle
            color: #fff
        & svg
            fill: #fff
            & path
                fill: #fff
    & img
        height: 100%
        object-fit: cover
    &:nth-child(1)
        border-top: 1px solid #DFDFDF
        & .advantages__block__subtitle
            max-width: 160px
    &:nth-child(2)
        border-top: 1px solid #DFDFDF
        border-bottom: 1px solid #DFDFDF
        & .advantages__block__subtitle
            max-width: 265px
        @media (max-width: 1366px)
            & .advantages__block__subtitle
                max-width: 205px
    & svg
        transition: fill .4s
        & path
            transition: fill .4s
    @media (max-width: 1366px)
        width: 320px
        padding-left: 54px
    @media (max-width: 1200px)
        width: 100%
    @media (max-width:992px)
        padding-left: 30px
.advantages__item__abs__block
    position: absolute
    left: 0
    bottom: 4px
    width: 450px
    min-height: calc(50% - 2px)
    height: calc(50% - 2px)
    background: #fff
    display: flex
    flex-direction: column
    justify-content: center
    padding-left: 92px
    border-left: 1px solid #DFDFDF
    border-bottom: 1px solid #DFDFDF
    transition: background .4s, border-color .4s
    &:hover
        background: #ff671f
        border-color: #ff671f !important
        color: #fff
        & .advantages__block__subtitle
            color: #fff
        & svg
            fill: #fff
            & path
                fill: #fff
    @media (max-width: 1366px)
        width: 320px
        padding-left: 54px
    @media (max-width: 1200px)
        width: 100%
        border-right: 1px solid #DFDFDF
    @media (max-width: 992px)
        padding-left: 30px
        & svg
            width: 30px
            height: 30px
.advantages__block__title
    font-family: Montserrat-Bold
    font-size: calc(16px + 8 * ((100vw - 320px)/ 1600))
    max-width: 120px
    margin-top: 41px
    transition: color .4s
    @media (max-width: 1366px)
        margin-top: 18px
        font-size: 18px
    @media (max-width: 992px)
        font-size: 16px
.advantages__block__subtitle
    font-size: 14px
    line-height: 24px
    color: #828282
    margin-top: 18px
    transition: color .4s
/** Counter animation **/
section.counter-animation
    position: relative
    padding: 0
    margin-top: 100px
    background: linear-gradient(73.49deg, #F0F7FF 12.45%, #FFF3EF 97.56%)
    @media (max-width: 481px)
        margin-top: 50px
.counter-animation__inner
    width: 100%
    min-height: 354px
    display: flex
    justify-content: space-between
    max-width: 1581px
    margin: auto
    align-items: center
    @media (max-width: 1581px)
        padding: 0 60px
    @media (max-width: 1366px)
        padding: 0 40px
    @media (max-width: 768px)
        padding: 0 15px
    @media (max-width: 660px)
        flex-wrap: wrap
        justify-content: space-between
        margin: auto
        max-width: 450px
        margin: 0 30px
        min-height: 260px
        margin: auto
        & .counter-animation__item
            width: 50%
            flex-basis: 50%
            max-width: 35%
.counter-animation__title
    font-family: Montserrat-Bold
    font-size: calc(30px + 30 * ((100vw - 320px)/ 1600))
    opacity: 0
    min-width: 150px
    @media (max-width: 768px)
        min-width: auto
.counter-animation__subtitle
    font-size: 18px
    line-height: 22px
    color: #606060
    @media (max-width: 992px)
        font-size: 14px
.counter-animation__coffe
    position: absolute
    right: 0
    top: -160px
    pointer-events: none
    @media (max-width: 1024px)
        top: -100px
    @media (max-width: 768px)
        width: 75px
        top: -50px
.counter-animation__leaf
    position: absolute
    left: 0
    top: -75px
    pointer-events: none
    @media (max-width: 1024px)
        top: 190px
    @media (max-width: 768px)
        width: 100px
/** Section brands **/
section.brands
    padding-top: 112px
    & .section__top__line
        align-items: flex-start
        @media (max-width: 660px)
            align-items: center
    @media (max-width: 481px)
        padding-top: 80px
.bradns__center__content
    width: 60%
    border-left: 1px solid #DFDFDF
    padding-left: 72px
    @media (max-width: 992px)
        width: 68%
        padding-left: 36px
    @media (max-width: 660px)
        position: absolute
        width: 100%
        margin-top: 190px
        padding-left: 15px
        border: none
        left: 0
.bradns__title
    & p
        font-family: Montserrat-Bold
        font-size: calc(35px + 35 * ((100vw - 320px)/ 1600))
        line-height: calc(32px + 30 * ((100vw - 320px)/ 1600))
        text-transform: uppercase
        color: transparent
        -webkit-text-stroke: 1px #C8C8C8
        max-width: 686px
        transition: all .4s
        @media (max-width: 660px)
            font-size: 28px
    &:hover
        & p
            color: #000
            -webkit-text-stroke: initial
    & span
        display: block
.bradns__subtitle
    margin-top: 70px
    @media (max-width: 1366px)
        margin-top: 20px
    & p
        max-width: 184px
        font-size: 14px
.brands__list
    padding-top: 138px
    display: flex
    justify-content: space-between
    margin: 0 -60px
    align-items: center
    @media (max-width: 1400px)
        margin: 0 -15px
    @media (max-width: 1366px)
        padding-top: 92px
    @media (max-width: 660px)
        padding-top: 132px
.brands__item
    padding: 15px 0px
    position: relative
    width: 200px
    margin: 0 60px
    @media (max-width: 1400px)
        margin: 0 15px
/** Section home-review **/
section.home-review
    padding-top: 100px
    @media (max-width: 481px)
        padding-top: 40px
.home-review__inner
    padding-top: 94px
    border-top: 1px solid #DFDFDF
    @media (max-width: 481px)
        padding-top: 40px
.home-review__list
    padding-top: 43px
    display: flex
    justify-content: space-between
    align-items: center
    margin: -2px
    @media (max-width: 481px)
        padding-top: 7px
    & .slick-list.draggable
        border: 1px solid  #DFDFDF
        position: relative
        &::before
            content: url(../img/gradiet.png)
            position: absolute
            width: 30px
            height: 100%
            left: 0
            z-index: 9
            top: 0
        &::after
            content: url(../img/gradiet-right.png)
            position: absolute
            width: 30px
            height: 100%
            right: -6px
            top: 0
.home-review__border
    border-right: 1px solid  #DFDFDF
.home-review__item
    @media (max-width: 576px)
        width: 247px
.home-review__item__inner
    display: flex
    flex-direction: column
    justify-content: center
    padding: 15px 0px
    position: relative
    width: 450px
    min-height: 433px
    max-width: 312px
    margin: auto
    @media (max-width: 1600px)
        max-width: 253px
    @media (max-width: 992px)
        max-width: 199px
.home-review__header
    display: flex
    align-items: center
.home-review__img
    @media (max-width: 992px)
        width: 50px
.home-review__info
    padding-left: 22px
    font-size: 14px
.home-review__name
    font-family: Montserrat-Bold
    margin-bottom: 7px
.home-review__data
    color: #606060
.home-review__description
    color: #606060
    margin-top: 40px
    font-size: 14px
    line-height: 27px
    max-height: 165px
    overflow-y: scroll
.home-review__rating
    display: inline-block
    font-size: 0
    & span
        padding: 0
        font-size: 16px
        line-height: 1
        color: #D1D1D1
        &:before
            content: '★'
        &.star--active
            color: #FF671F
.home-review__footer
    margin-top: 58px
    @media (max-width: 1366px)
        margin-top: 27px
/** Section subscribe **/
section.subscribe
    width: 100%
    height: 344px
    margin-top: 100px
    background: linear-gradient(73.49deg, #F0F7FF 12.45%, #FFF3EF 97.56%)
    @media (max-width: 992px)
        height: auto
        padding: 40px 40px
    @media (max-width: 768px)
        padding: 40px 15px
    @media (max-width: 481px)
        margin-top: 30px
.subscribe__inner
    display: flex
    flex-direction: column
    height: 100%
    justify-content: center
.subscribe__input__container
    display: flex
    justify-content: space-between
    margin: 0 -19px
    @media (max-width: 992px)
        flex-direction: column
        margin: 0
.subscribe__input__container__right
    display: flex
    width: 100%
    align-items: center
    @media (max-width: 481px)
        flex-direction: column
.subscribe__input__group
    margin: 15px 19px
    width: 100%
    position: relative
    @media (max-width: 992px)
        margin: 15px 0
.subscribe__group__name, .subscribe__group__email
    width: 35%
    @media (max-width: 1366px)
        width: 55%
    @media (max-width: 992px)
        width: 100%
.subscribe__input
    width: 100%
    height: 70px
    background: #fff
    border: 1px solid #E3EAF2
    padding-left: 28px
    color: #000000
    &::placeholder
        color: #000
    @media (max-width: 481px)
        height: 48px
    &.invalid
        border: 1px solid red
.subscribe_button
    background: #FF671F
    font-family: Montserrat-Bold
    color: #fff
    width: 202px
    height: 70px
    line-height: 70px
    margin-left: 15px
    @media (max-width: 481px)
        width: 100%
        margin-left: 0
        margin-top: 14px
        height: 48px
        line-height: 48px
/** Section seo-text **/
.seo-text__inner
    min-height: 300px
    padding: 45px 0
    display: flex
    flex-direction: column
    justify-content: center
.seo-text__description
    color: #606060
    font-size: 14px
    line-height: 24px
.subscribe__form label.invalid
    position: absolute
    left: 0
    bottom: -20px
    font-size: 10px
    font-weight: 500
    color: red
