.product-page__body
    width: 100%
    height: 100%
    display: flex
.product-page__body__left
    max-width: 750px
    height: 100%
.product__top__inner
    padding: 0 60px
.product__buttons
    display: flex
    width: 100%