@mixin font($font_name, $file_name, $weight, $style)
    @font-face
        font-family: $font_name
        font-display: swap
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2")
        font-weight: #{$weight}
        font-style: #{$style}
@import "../../node_modules/bootstrap/scss/bootstrap-grid"
@import "../../node_modules/bootstrap/scss/mixins"
@import "../../node_modules/bootstrap/scss/_modal"
@import "../../node_modules/bootstrap/scss/_transitions"
@import "fonts"
@import "header"
@import "home"
@import "modal"
@import "footer"

@import "public_offer_agreement"
@import "privacy_policy"
@import "contacts"

*
    box-sizing: border-box
    margin: 0
body
    background: #fff
    font-family: Montserrat-Regular
    overflow-x: hidden
    @media (max-width: 992px)
        overflow: auto
    &.overflow
        overflow: hidden
/** ::-webkit-scrollbar
 width: 12px **/

/** ::-webkit-scrollbar-track
 background: rgba(0, 0, 0, 0) **/

/** ::-webkit-scrollbar-thumb
 background: #ff671f
 border-radius: 5px **/

/** .w-ibanner.animation_nike .w-ibanner-image
 filter: grayscale(0) !important
 transform: translateY(0%) !important **/

a
    color: #000
    text-decoration: none
    &:hover
        text-decoration: none
    &:focus
        outline: none
button
    border: none
    outline: none
    background: none
    font-family: Montserrat-Regular
    cursor: pointer
    &:hover
        outline: none
    &:active
        outline: none
    &:focus
        outline: none
ul
    list-style: none
    padding: 0
input
    font-family: Montserrat-Regular
input, button, textarea
    outline: none
    margin: 0
    border-radius: 0
    appearance: none

input[type=number]
    -moz-appearance: textfield
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0
input[type="number"]
    -moz-appearance: textfield

input[type="number"]:hover,
input[type="number"]:focus
    -moz-appearance: number-input
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0

select
    font-family: Montserrat-Regular
    outline: none
    border: none
    background: none
    font-size: 14px
img
    max-width: 100%
main
    max-width: 1920px
    margin: auto
    position: relative
    top: 97px
    @media (max-width: 1366px)
        top: 69px
    @media (max-width: 768px)
        top: 50px
.slick-slide
    outline: none !important
    & img
        margin: auto
