@mixin font($font_name, $file_name, $weight, $style)
    @font-face
        font-family: $font_name
        font-display: swap
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2")
        font-weight: #{$weight}
        font-style: #{$style}
@import "../../node_modules/bootstrap/scss/bootstrap-grid"
@import "fonts"
@import "header"
@import "home"
@import "footer"

@import "public_offer_agreement"
@import "privacy_policy"
@import "contacts"

*
    box-sizing: border-box
    margin: 0
body
    background: #fff
    font-family: Montserrat-Regular
    overflow: overlay
    @media (max-width: 992px)
        overflow: auto
    &.overflow
        overflow: hidden
a
    color: #000
    text-decoration: none
    &:hover
        text-decoration: none
    &:focus
        outline: none
button
    border: none
    outline: none
    background: none
    font-family: Montserrat-Regular
    cursor: pointer
    &:hover
        outline: none
    &:active
        outline: none
    &:focus
        outline: none
ul
    list-style: none
    padding: 0
input
    font-family: Montserrat-Regular
input, button, textarea
    outline: none
    margin: 0
    border-radius: 0
    appearance: none

input[type=number]
    -moz-appearance: textfield
select
    font-family: Montserrat-Regular
    outline: none
    border: none
    background: none
    font-size: 14px
img
    max-width: 100%
main
    max-width: 1920px
    margin: auto
.slick-slide
    outline: none